@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: darkgreen;
    background-image: url(../Imagens/imagens/back-phone.jpg);
    text-align: center;
}
main{
    width: 100vw;
    height: 100vh;
}

.celular {display:block}
.tablet{display:none}
.computador{display:none}
.televisao{display:none}
.impressora{display:none}

h1{
    color: rgba(255, 255, 255, 0.548);
    background-color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    color: white;

}
p{
    text-align: center;
    color: black;
}
img{
    margin: auto;
}


    @media screen and (min-width:768px) and (max-width: 992px){

    .celular {display:none}
    .tablet{display:block}  
    .computador{display:none}
    .televisao{display:none}
    .impressora{display:none}

    body{
        background-image: url(../Imagens/imagens/back-tablet.jpg);
    }
}

    @media screen and (min-width:992px) and (max-width: 1200px){

    .celular {display:none}
    .tablet{display:none}
    .computador{display:block}
    .televisao{display:none}
    .impressora{display:none}

    body{
        background-image: url(../Imagens/imagens/back-pc.jpg);
    }
}

    @media screen and (min-width:992px) and (max-width:1200){

    .celular {display:none}
    .tablet{display:none}
    .computador{display:none}
    .televisao{display:block}
    .impressora{display:none}

    body{
        background-image: url(../Imagens/imagens/back-tv.jpg);
    }
}

     @media screen and (min-width:1200){

        .celular {display:none}
        .tablet{display:none}
        .computador{display:none}
        .televisao{display:none}
        .impressora{display:block}

    body{
            background-image: url(../Imagens/imagens/back-print.jpg);
        }
}

