@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}


.container{
    display: grid;
    grid-template-columns: 300fr 200fr 300fr;
    grid-template-rows: 100fr 100fr 100fr 100fr 100fr 100fr; 
    grid-template-areas: "Comeco Comeco Comeco"
    "Lado Metade Metade"
    "Fim Fim Fim";

}

.Comeco{
    background-color: red;
    grid-area: Comeco;
}


.Late{
    color: grey;
    border: blue solid;
}
.Metade{
    background-color: green;
    grid-area: Metade;
  /* justify e align para alinhar e tem q transformar ele em pai pra funfar*/
}

.Fim{
    background-color: blue;
    grid-area: Fim;

}