/*  @charset "UTF-8";

UIVERSE  - site COPIA E COLA códigos de html e css
* {
    margin: 0px;
    padding: 0px;
}


.container{
    background-image: url(../Imagem/);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100fr; 

}


main{
    border: 1px solid red;
}
.Comeco{
    background-color: red;
    grid-column: 5/ 12;
}


.Late{
    color: grey;
    border: blue solid;
}

.Metade{
    background-color: green;
 justify e align para alinhar e tem q transformar ele em pai pra funfar
}

.Anao{
    background-color: darkgray;
    color:deeppink;
    border: 1px solid black;
    Auto-fill e auto-fit
}
*/
@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
}

/*
    LEMBRETE:
    grid-track: linha ou coluna inteira
    grid-lines: linhas de divisão 
    grid-area: área que será ocupada
    gap: espaçamento
*/

.container{ /* DIV PAI */
   background-image: url(../Imagem/boreal.png);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr -1fr;
   grid-template-areas: "Comeco Comeco Comeco Comeco Comeco"
                        "Late Conteudo Conteudo Conteudo Conteudo"
                        "Late Anão Anão Anão Anão"

}

/* FILHOS */
.Comeco{
    grid-area: Comeco;
    border: 2px solid white;
    background-image: url(../Imagem/aurora.jpg);
}

.Conteudo{
    grid-area: Conteudo;
    border: 2px solid violet;

}

.Late{
    grid-area: Late;  
    border: 4px solid black;
}

.Anão{
    grid-area: Anão;
    border: 1px solid white;
}

/* justify-self:
align-self: */

h1, p{
    color: black;
}
