@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}


.container{
    background-image: url(../Imagem/);
    display: grid;
    grid-template-columns: 300fr 200fr 300fr;
    grid-template-rows: 100fr 100fr 100fr 100fr 100fr 100fr; 

}

.Comeco{
    background-color: red;

}


.Late{
    color: grey;
    border: blue solid;
}

.Metade{
    background-color: green;
  /* justify e align para alinhar e tem q transformar ele em pai pra funfar*/
}

.Fim{
    background-color: blue;

}